{% extends "basewtop.html" %}
{% block title %}Create Challenge - GeoSnap!{% endblock %}
{% block subcontents %}
<div class="container">
  <div class="sixteen columns alpha omega">
    <ol>
      <li>Take a snapshot of something.</li>
      <li>We will remember where this photo was captured.</li>
      <li>Challenge a friend to find the place where the picture was taken!</li>
    </ol>
    <a class="btn" href="{{url_for('.take_picture', id=id, type='high')}}">Let's go!</a>
  </div>
</div>
{% endblock %}
