{% extends "base.html" %}
{% block title %}GeoSnap!{% endblock %}
{% block content %}
<img src="/static/logo.png" width="300" height="87" alt="logo" class="logo"/>
<div class="container">
  <nav id="main-nav" class="sixteen columns alpha omega">
    <ul id="menu-primary-menu">
      <li class="sixteen columns align-center">
        <a href="{{url_for('.create_start')}}">
          <div class="btn">Create Challenge!</div>
        </a>
      </li>
      <li class="sixteen columns align-center">
        <a href="{{url_for('.find_challenges')}}">
          <div class="btn">Find a Challenge!</div>
        </a>
      </li>
      <li class="sixteen columns align-center">
        <a href="#">
          <div class="btn">My Challenges</div>
        </a>
      </li>
      <li class="sixteen columns align-center">
        <a href="#">
          <div class="btn">My Scorecard</div>
        </a>
      </li>
    </ul>
  </nav>
</div>
<div class="footer">
  Designed by Victor Boivie<br/>for the <a href="http://www.uplinq.com">Uplinq</a> conference!
</div>
{% endblock %}
