{% extends "base.html" %}
{% block title %}GeoSnap!{% endblock %}
{% block content %}
<img src="/static/logo.png" width="300" height="87" alt="logo" class="logo"/>
<div class="container menu">
  <div class="sixteen columns alpha omega">
    <a href="{{url_for('.create_start')}}">
      <div class="btn">Create Challenge!</div>
    </a>
  </div>
</div>
<div class="container menu">
  <div class="sixteen columns alpha omega">
    <a href="{{url_for('.find_challenges')}}">
      <div class="btn">Find a Challenge!</div>
    </a>
  </div>
</div>

<div class="container menu">
  <div class="sixteen columns alpha omega">
    <a href="#">
      <div class="btn">My Challenges</div>
    </a>
  </div>
</div>
<div class="container menu">
  <div class="sixteen columns alpha omega">
    <a href="#">
      <div class="btn">My Scorecard</div>
    </a>
  </div>
</div>
<div class="footer">
  Designed by Victor Boivie<br/>for the <a href="http://www.uplinq.com">Uplinq</a> conference!
</div>
{% endblock %}
